PRODUCT_NAME = AirdropChecker
PRODUCT_BUNDLE_IDENTIFIER = com.hectorruiz.airdropchecker
DEVELOPMENT_TEAM = 5HVXGMLSZ6
CODE_SIGN_STYLE = Automatic
IPHONEOS_DEPLOYMENT_TARGET = 16.0
SWIFT_VERSION = 5.0
CURRENT_PROJECT_VERSION = 1
MARKETING_VERSION = 1.0.0
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
ENABLE_USER_SCRIPT_SANDBOXING = YES

JUPITER_API_KEY =
