#include? "Secrets.xcconfig"

PRODUCT_NAME = PrismMesh
PRODUCT_BUNDLE_IDENTIFIER = com.hectorruiz.radar
PRODUCT_MODULE_NAME = PrismMesh
DEVELOPMENT_TEAM = 5HVXGMLSZ6
CODE_SIGN_STYLE = Automatic
IPHONEOS_DEPLOYMENT_TARGET = 16.0
SWIFT_VERSION = 5.0
CURRENT_PROJECT_VERSION = 53
MARKETING_VERSION = 1.0.2
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
ENABLE_USER_SCRIPT_SANDBOXING = YES

JUPITER_API_KEY =
USE_STAGING_ENVIRONMENT = NO

SENTRY_DSN_DEV =
SENTRY_DSN_BETA =
SENTRY_DSN_PROD =

POSTHOG_API_KEY_DEV =
POSTHOG_API_KEY_BETA =
POSTHOG_API_KEY_PROD =

POSTHOG_HOST_DEV = https://us.i.posthog.com
POSTHOG_HOST_BETA = https://us.i.posthog.com
POSTHOG_HOST_PROD = https://us.i.posthog.com

APP_ENVIRONMENT = prod
GIT_COMMIT_HASH = 55631f0
