<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Radar.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>14</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>121947525B9436256C476A8BBFF67F5665DEAFC1</string>
				<key>dateExpires</key>
				<string>2/22/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5HVXGMLSZ6.com.hectorruiz.radar</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>5HVXGMLSZ6</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>AirdropChecker.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d3a651ee-e36f-44c2-b582-326a36184f59</string>
				<key>dateExpires</key>
				<string>2/22/27</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.hectorruiz.radar</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5HVXGMLSZ6</string>
				<key>name</key>
				<string>Justin Ruiz</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
